<!DOCTYPE html>
<html lang="en">
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta charset="UTF-8">
  <title>Search Video Caption by Arifin Izzah</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <link rel="stylesheet" href="assets/css/style.css">
  <script src="https://cdn.jsdelivr.net/npm/feather-icons/dist/feather.min.js"></script>
</head>
<body>
  <div id="app">
    <section class="hero">
      <div class="jumbotron jumbotron-fluid jumbotron-hero mb-0 pt-0">
        <nav class="navbar">
          <div class="container">
            <a class="navbar-brand" href="">Subtify</a>
            <a class="navbar-nav py-1" href="">About</a>
          </div>
        </nav>
        <div class="row h-100 pb-5 px-md-5 mr-0">
          <div class="col-lg-6 order-lg-1 d-none d-lg-flex justify-content-center align-content-center">
            <div class="card card-body bg-transparent border-0">
              <div class="my-auto">
                <img src="assets/img/undraw_in_sync_xwsa.svg" class="img-fluid" alt="">
              </div>
            </div>
          </div>
          <div class="col-lg-6 order-lg-0 d-flex justify-content-center align-content-center">
            <div class="card card-body bg-transparent border-0">
              <div class="my-auto">
                <h1 class="hero-title font-weight-bold">Finding Words Getting Easier</h1>
                <p class="hero-subtitle my-4">
                  Increasing productivity can be through anything. One of them is finding
                  words in YouTube caption quickly. Then Subtify can be your choice
                </p>
                <a class="btn btn-lg hero-btn" href="#findWords" role="button">Find Words</a>
                <a class="btn btn-lg hero-btn--2 ml-3" href="#findWords" role="button">Learn More</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="section-2">
      <div class="container" id="findWords">
        <h3 class="mb-5 mb-md-3">Find Words</h3>
        <div class="row mb-5">
          <div class="col-md-6 order-md-1 mb-5 mb-md-0">
            <div class="video-section sticky-top ml-0 ml-md-1">
              <div class="embed-responsive embed-responsive-16by9">
                <div class="embed-responsive-item video-preview d-flex justify-content-center align-items-center" v-if="!videoId">
                  <h3 class="font-weight-normal text-center">Video preview will be showing here</h3>
                </div>
                <iframe class="embed-responsive-item videoId" :src="videoId" v-if="videoId" allowfullscreen></iframe>
              </div>
              <div class="px-3 py-3">
                <div v-if="!errorCode">
                  <p class="font-weight-bold mb-1">Video title: <span class="font-weight-normal">{{ videoTitle }}</span></p>
                  <p class="font-weight-bold mb-0">From channel: <a :href="channelUrl" class="font-weight-normal">{{ videoChannel }}</a></p>
                </div>
                <div v-else class="d-flex justify-content-center align-items-center">
                  <p class="text-center">
                    <span class="font-weight-bold">Error {{ errorCode }}</span>
                    <br>
                    {{ errorMessage }}. Please contact website administrator
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-6 order-md-0 pr-md-5">
            <div class="form-group">
              <input type="text" v-model="url" class="form-control" v-bind:class="{false: urlValidation, 'is-invalid': urlValidation}" placeholder="Paste Youtube video link here">
              <small class="form-text text-danger" v-if="urlValidation&&url">URL not valid, please insert a valid Youtube video URL</small>
              <small class="form-text text-secondary" v-if="!urlValidation||!url">
                <span class="font-weight-bold">Example: </span>https://www.youtube.com/watch?v=klnvttPfOUM
              </small>
            </div>
            <div class="form-group">
              <input type="text" v-model="keyWord" class="form-control" placeholder="Type your keywords here" :disabled="!url||urlValidation">
              <small class="form-text text-secondary" v-if="url||urlValidation">
                <span class="font-weight-bold">Example:</span> web</small>
            </div>
            <p class="mb-0 font-weight-bold">Note:</p>
            <ul class="pl-4">
              <li>Youtube video must contains captions or subtitle</li>
              <li>Keywords must contains at least 3 characters</li>
            </ul>
            <div class="d-none" v-bind:class="{ true: wordsFound, 'd-block':wordsFound }">
              <h5 class="mt-5 mb-3">Result</h5>
              <p class="mb-3">
                <span class="font-weight-bold">{{ wordsFound }}</span> words found!
              </p>
              <div class="d-flex justify-content-between mb-4">
                <p class="my-auto">Page: <span class="font-weight-bold">{{ pagination.page }}</span></p>
                <div class="control-buttons">
                  <button class="btn btn-icon" @click="navigation('first')" :disabled="!pagination['first']">
                    <i data-feather="chevrons-left"></i>
                  </button>
                  <button class="btn btn-icon" @click="navigation('prev')" :disabled="!pagination['prev']">
                    <i data-feather="chevron-left"></i>
                  </button>
                  <button class="btn btn-icon" @click="navigation('next')" :disabled="!pagination['next']">
                    <i data-feather="chevron-right"></i>
                  </button>
                  <button class="btn btn-icon" @click="navigation('last')" :disabled="!pagination['last']">
                    <i data-feather="chevrons-right"></i>
                  </button>
                </div>
              </div>
            </div>
            <div class="d-flex align-items-center" v-if="!wordsFound&&keyWord">
              <h5 class="mt-5 text--mauve-dark text-center">Words not found. Make sure you enter 3 or more characters or try different keywords</h5>
            </div>
            <ul class="pl-4">
              <li v-for="(response, i) in responseList" :key="i" class="mb-3">
                <span class="caption-result" v-html="response.text"></span>
                [<a :href="`${url}&t=${response.start}s`" target="_blank">{{ timeStart(response.start) }}</a>]
              </li>
            </ul>
          </div>
        </div>
      </div>
    </section>
    <section class="section-3">
      <div class="container">
        
      </div>
    </section>
  </div>

  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="assets/js/pdebounce.js"></script>
  <script>
      new Vue({
          el: '#app',
          data: {
              url: null,
              keyWord: '',
              responseList: [],
              pagination: {
                  first: null,
                  last: null,
                  prev: null,
                  next: null,
                  page: null
              },
              wordsFound: 0,
              urlValidation: false,
              videoId: null,
              videoTitle: '',
              videoChannel: '',
              channelUrl: '',
              errorCode: null,
              errorMessage: null
          },
          watch: {
              url: pDebounce(async function handleUrl(url) {
                  if (url && url.length >= 3) {
                      await this.validation(url, this.url)
                  } else {
                      this.clearResultAndPagination()
                  }
              }, 250),
              keyWord: pDebounce(async function handleKeywords(keyWord) {
                  if (keyWord && keyWord.length >= 3) {
                      await this.cari(keyWord, this.url)
                  } else {
                      this.clearResultAndPagination()
                  }
              }, 250)
          },
          methods: {
              validation(url) {
                  var regExp = /^((?:https?:)?\/\/)?((?:www|m)\.)?((?:youtube\.com|youtu.be))(\/(?:[\w\-]+\?v=|embed\/|v\/)?)([\w\-]+)(\S+)?$/
                  if (regExp.test(url)) {
                      this.urlValidation = false
                      var match = url.match(regExp)
                      if (match && match[5].length == 11) {
                          this.videoId = 'http://www.youtube.com/embed/'+match[5]
                          this.videoApi(match[5])
                      } else {
                          this.urlValidation = true
                      }
                  } else {
                      this.urlValidation = true
                  }
              },
              async videoApi(videoId) {
                  const response = await fetch('https://www.googleapis.com/youtube/v3/videos?part=snippet&id='+ videoId +'&fields=items(id,snippet)&key=AIzaSyB0fl8R_UJhBzBbbRGqZbmqENQG1IDFve4')
                  const data = await response.json()
                  errorCode = data.error
                  if (errorCode==='undefined'||errorCode==null){
                      this.videoTitle = data.items[0].snippet.title
                      this.videoChannel = data.items[0].snippet.channelTitle
                      this.channelUrl = 'https://youtube.com/channel/'+data.items[0].snippet.channelId
                  } else {
                      const response = await fetch('https://www.googleapis.com/youtube/v3/videos?part=snippet&id='+ videoId +'&fields=items(id,snippet)&key=AIzaSyAZr7DL1Ywxa5va36Z2ep24JTX4-ezsksQ')
                      const data = await response.json()
                      errorCode = data.error
                      if (errorCode==='undefined'||errorCode==null) {
                          this.videoTitle = data.items[0].snippet.title
                          this.videoChannel = data.items[0].snippet.channelTitle
                          this.channelUrl = 'https://youtube.com/channel/' + data.items[0].snippet.channelId
                      } else {
                          this.errorCode = data.error.code
                          this.errorMessage = data.error.errors[0].reason
                      }
                  }
              },
              async cari(keyWord, url, pagination) {
                  try {
                      const respon = await fetch(
                          pagination
                              ? pagination
                              : `https://cari-teks-video-api.vercel.app/api/search?q=${keyWord}&url=${encodeURIComponent(url)}`
                      ).then(_ => (_.ok ? _.json() : []))
                      this.responseList = respon.data
                      this.pagination.first = respon.first
                      this.pagination.last = respon.last
                      this.pagination.prev = respon.prev
                      this.pagination.next = respon.next
                      this.pagination.page = respon.page
                      this.wordsFound = respon.total
                  } catch (error) {}
              },
              timeStart(time){
                  var pad = function(num, size) { return ('000' + num).slice(size * -1); },
                  time = parseFloat(time).toFixed(3),
                  hours = Math.floor(time / 60 / 60),
                  minutes = Math.floor(time / 60) % 60,
                  seconds = Math.floor(time - minutes * 60)
                  return pad(hours, 2) + ':' + pad(minutes, 2) + ':' + pad(seconds, 2)
              },
              async navigation(type) {
                  if (!this.pagination[type]) {
                      return
                  }
                  await this.cari(this.keyWord, this.url, this.pagination[type])
              },
              clearResultAndPagination() {
                  this.responseList = []
                  this.pagination = {
                      first: null,
                      last: null,
                      prev: null,
                      next: null,
                      page: null
                  },
                  this.wordsFound = 0
              }
          }
      })
  </script>
  <script>
      feather.replace()
  </script>
</body>
</html>