@import url("https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
/* */
/* Font Clasess */
.quicksand {
  font-family: "Quicksand", sans-serif;
}

.roboto {
  font-family: "Roboto", sans-serif;
}

/* */
/* Generated Colors from mixin */
.text--white, .bg-color--white {
  color: #ffffff;
}
.text--magnolia, .bg-color--magnolia {
  color: #F8F3FF;
}
.text--blue-chalk, .bg-color--blue-chalk {
  color: #e8d8ff;
}
.text--blue-chalk-dark, .bg-color--blue-chalk-dark {
  color: #F0E6FF;
}
.text--fog, .bg-color--fog {
  color: #DAC1FF;
}
.text--mauve, .bg-color--mauve {
  color: #D2B4FF;
}
.text--mauve-dark, .bg-color--mauve-dark {
  color: #c49cfc;
}
.text--paua, .bg-color--paua {
  color: #2d0367;
}
.text--black, .bg-color--black {
  color: #000000;
}

/* */
/* Custom style begin */
html {
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar {
  height: 75px;
}

.navbar-brand {
  font-family: "Kalam", cursive;
  color: #2D0367;
  font-size: 2.2rem;
  padding: 0;
}
.navbar-brand:hover {
  color: #000000;
}

.navbar-nav {
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #2D0367;
  letter-spacing: 0.7px;
}
.navbar-nav:hover {
  text-decoration: none;
  color: #000000;
  border-bottom: 2px solid #000000;
}
.navbar-nav.is-active {
  color: #000000;
  border-bottom: 2px solid #000000;
}

.jumbotron-hero {
  position: relative;
  background-color: #ffffff;
  height: 100vh;
}

.hero-title {
  color: #000000;
  font-family: "Quicksand", sans-serif;
  font-size: 4em;
}
@media (max-width: 960px) {
  .hero-title {
    font-size: 3.5em;
  }
}
@media (max-width: 768px) {
  .hero-title {
    font-size: 3em;
  }
}
@media (max-width: 576px) {
  .hero-title {
    font-size: 2.5em;
  }
}

.hero-subtitle {
  color: #000000;
  font-family: "Roboto", sans-serif;
  font-size: 1.2em;
}

.hero-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background: #C49CFC;
  color: #ffffff;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  border: 2px solid #C49CFC;
  border-radius: 10px;
  transition: 0.25s;
}
.hero-btn:hover, .hero-btn:focus {
  color: #ffffff;
  box-shadow: inset 0 -3.5em 0 0 #D2B4FF;
  border: 2px solid #D2B4FF;
}

.hero-btn--2 {
  margin-top: 15px;
  padding: 10px 15px;
  background: transparent;
  color: #C49CFC;
  font-family: "Quicksand", sans-serif;
  font-size: 1.1em;
  font-weight: 600;
  border: 2px solid #D2B4FF;
  border-radius: 10px;
  transition: 0.25s;
}
.hero-btn--2:hover, .hero-btn--2:focus {
  color: #ffffff;
  box-shadow: inset 8.5em 0 0 0 #C49CFC;
  border: 2px solid #C49CFC;
}

.svg-divider {
  background-color: #000400;
}

.section-2 {
  background-color: #F0E6FF;
  transform: skewY(-3deg);
  margin: 0;
  padding: 50px 0;
}
.section-2 .container {
  transform: skewY(3deg);
  padding-top: 10vh;
  padding-bottom: 5vh;
}

.form-control {
  border-color: #C49CFC;
}
.form-control:focus {
  border-color: #C49CFC;
  box-shadow: 0 0 0 0.2rem #DAC1FF;
}

.video-section {
  border-radius: 10px;
  background-color: #e8d8ff;
  box-shadow: -5px -5px 15px #F8F3FF, 5px 5px 15px #DAC1FF;
}

.sticky-top {
  top: 30px;
}

.embed-responsive {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.embed-responsive .embed-responsive-item.video-preview {
  background-color: #F0E6FF;
}
.embed-responsive .embed-responsive-item.video-preview h3 {
  color: #C49CFC;
}

.btn-icon {
  background-color: #DAC1FF;
  padding: 5px 8px;
  border-radius: 100%;
}
.btn-icon:hover {
  background-color: #C49CFC;
  outline: none;
  box-shadow: none;
  cursor: pointer;
}
.btn-icon:focus {
  background-color: #DAC1FF;
  outline: none;
  box-shadow: none;
}
.btn-icon:disabled:hover {
  cursor: default;
}
.btn-icon svg {
  width: 16px;
  height: 16px;
  stroke: #2D0367;
}

.caption-result mark {
  background-color: #C49CFC;
}

/*# sourceMappingURL=style.css.map */
