// Base Colors for Variables
$white: #ffffff;
$magnolia: #F8F3FF;
$blue-chalk: #F0E6FF;
$blue-chalk-dark: #e8d8ff;
$fog: #DAC1FF;
$mauve: #D2B4FF;
$mauve-dark: #C49CFC;
$paua: #2D0367;
$black: #000000;

// Colors for Sass maps
$colors: (
  white: #ffffff,
  magnolia: #F8F3FF,
  blue-chalk: #e8d8ff,
  blue-chalk-dark: #F0E6FF,
  fog: #DAC1FF,
  mauve: #D2B4FF,
  mauve-dark: #c49cfc,
  paua: #2d0367,
  black: #000000
);

// Color Mixin
@mixin color-modifiers($attribute: 'color', $prefix: '-') {
  @each $name, $hex in $colors {
    &#{$prefix}#{$name} {
      #{$attribute}: $hex;
    }
  }
}

/* */
/* Generated Colors from mixin */
.text, .bg-color {
  @include color-modifiers($prefix: '--');;
}