// Google Fonts
@import url('https://fonts.googleapis.com/css2?family=Kalam:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300&display=swap');

// Fonts Variables
$kalam: 'Kalam', cursive;
$quicksand: 'Quicksand', sans-serif;
$roboto: 'Roboto', sans-serif;
$comfortaa: 'Comfortaa', cursive;

/* */
/* Font Clasess */
.kalam{
  font-family: $kalam;
}
.quicksand{
  font-family: $quicksand;
}
.roboto{
  font-family: $roboto;
}
.comfortaa{
  font-family: $comfortaa;
}

.font-weight-400{
  font-weight: 400;
}
.font-weight-500{
  font-weight: 500;
}
.font-weight-600{
  font-weight: 600;
}
.font-weight-700{
  font-weight: 700;
}