@import "fonts";
@import "colors";
@import "base";

/* */
/* Custom style begin */
.navbar{
  height: 75px;
}

.navbar-brand{
  font-family: $kalam;
  color: $white;
  font-size: 2.2rem;
  padding: 0;
  &:hover{
    color: $botticelli;
  }
}

.navbar-nav{
  font-family: $quicksand;
  color: $white;
  letter-spacing: 0.7px;
  &:hover{
    text-decoration: none;
    color: $botticelli;
  }
  &.is-active{
    color: $white;
    font-weight: 600;
    border-bottom: 2px solid $white;
  }
}

.jumbotron-hero{
  position: relative;
  background: url("/assets/img/hero-bg.jpg") no-repeat bottom center / cover;
  &:before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
  }
  .hero-content{
    padding: 75px 0;
  }
  h1 {
    color: $white;
    font-family: $roboto;
  }
  .subtitle {
    color: $white;
    font-family: $roboto;
  }
}

/* Custom button */
.hero-btn {
  margin-top: 15px;
  padding: 10px 20px;
  background: transparent;
  color: $white;
  font-family: $roboto;
  font-size: 1.2em;
  border: 2px solid $white;
  border-radius: 0;
  transition: 0.25s;
  &:hover,
  &:focus{
    color: $white;
    box-shadow: inset 0 -3em 0 0 $steel-blue;
    border: 2px solid $steel-blue;
  }
}