@import "fonts";
@import "colors";
@import "base";

/* */
/* Custom style begin */

//* {
//  background: #000 !important;
//  color: #0f0 !important;
//  outline: solid #f00 1px !important;
//}

html{
  scroll-behavior: smooth;
}

body{
  font-family: $roboto;
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow-x: hidden;
}

.navbar{
  height: 75px;
}

.navbar-brand{
  font-family: $kalam;
  color: $black;
  font-size: 2.2rem;
  padding: 0;
  &:hover{
    color: $paua;
  }
}

.navbar-nav{
  font-family: $quicksand;
  font-weight: 600;
  color: $black;
  letter-spacing: 0.7px;
  &:hover{
    text-decoration: none;
    color: $paua;
    border-bottom: 2px solid $paua;
  }
  &.is-active{
    color: $black;
    border-bottom: 2px solid $paua;
  }
}

.jumbotron-hero{
  position: relative;
  background-color: $white;
  height: 100vh;
  .hero-content{
    padding: 75px 0;
  }
  .hero-title{
    color: $black;
    font-family: $quicksand;
    font-size: 4em;
    @media (max-width: 960px) {
      font-size: 3.5em;
    }
    @media (max-width: 768px) {
      font-size: 3em;
    }
    @media (max-width: 576px) {
      font-size: 2.5em;
    }
  }
  .hero-subtitle{
    color: $black;
    font-family: $roboto;
    font-size: 1.2em;
  }
}

.hero-btn {
  margin-top: 15px;
  padding: 10px 15px;
  background: $mauve-dark;
  color: $white;
  font-family: $quicksand;
  font-size: 1.1em;
  font-weight: 600;
  border: 2px solid $mauve-dark;
  border-radius: 10px;
  transition: 0.25s;
  &:hover,
  &:focus{
    color: $white;
    box-shadow: inset 0 -3.5em 0 0 $mauve;
    border: 2px solid $mauve;
  }
}

.hero-btn--2 {
  margin-top: 15px;
  padding: 10px 15px;
  background: transparent;
  color: $mauve-dark;
  font-family: $quicksand;
  font-size: 1.1em;
  font-weight: 600;
  border: 2px solid $mauve;
  border-radius: 10px;
  transition: 0.25s;
  &:hover,
  &:focus{
    color: $white;
    box-shadow: inset 8.5em 0 0 0 $mauve-dark;
    border: 2px solid $mauve-dark;
  }
}

.svg-divider{
  background-color: #000400;
}

.section-2{
  background-color: $blue-chalk;
  transform: skewY(-3deg);
  margin: -15px 0;
  padding: 50px 0;
  .container{
    transform: skewY(3deg);
    padding-top: 10vh;
  }
}

.form-control{
  border-color: $mauve-dark;
}

.video-section{
  border: 1px solid $mauve-dark;
  border-radius: 10px;
  background-color: $blue-chalk-dark;
}

.sticky-top{
  top: 30px;
}

.embed-responsive{
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  .embed-responsive-item.video-preview{
    background-color: $blue-chalk;
    h3{
      color: $mauve-dark;
    }
  }
}

.btn-icon{
  background-color: $fog;
  padding: 5px 8px;
  border-radius: 100%;
  &:hover{
    background-color: $mauve-dark;
    outline: none;
    box-shadow: none;
  }
  &:focus{
    background-color: $fog;
    outline: none;
    box-shadow: none;
  }
  svg{
    width: 16px;
    height: 16px;
    stroke: $paua;
  }
}

.caption-result{
  mark{
    background-color: $mauve-dark;
  }
}